@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-font {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .the-default-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .default-container {
    @apply max-w-[90%] mx-auto md:max-w-[60%] lg:max-w-[45%];
  }
}
